/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.list-title {
  font-size: calc(12px + 2vmin);
}

.list-item{
  border: 2px dotted;
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.list-artist {
  font-size: calc(8px + 2vmin);
}

.list-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.list-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.list-series {
  margin: 0px;
}

.list-delete {
  background-color: #f44336;
  border-radius: 8px;
}

.fanart-item {
  border: solid;
  padding: 10px;
  border-radius: 4px;
}

.fanart-title {
  font-size: calc(16px + 2vmin);
  border: 2px solid;
  background-color: #1C2833;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.fanart-artist {
  font-size: calc(12px + 2vmin);
}

.fanart-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fanart-series{
  text-align: center;
  font-weight: bold;
}

.description {
  border: solid 1px;
  margin: 20px;
  padding: 10px; 
}

.fanart-description-title {
  text-decoration: underline;
}

.fanart-description {
  padding: 0px;
}

.fanart-delete {
  background-color: #f44336;
  border-radius: 8px;
  margin: 5px;
}

.fanart-edit {
  background-color: #273746;
  color: white;
  border-radius: 8px;
  margin: 5px;
}

.fanart-add-comment {
  background-color: #5D6D7E;
  color: white;
  border-radius: 8px;
  margin: 5px;
}

.fanart-comments {
  margin-top: 20px;
  border-radius: 4px;
}

.fanart-comment {
  border: solid 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
}

.comment-delete {
  background-color: #f44336;
  border-radius: 8px;
  margin: 5px;
}

.comment-edit {
  background-color: #273746;
  color: white;
  border-radius: 8px;
  margin: 5px;
}